# This file stores configurations for your Shopify app.

client_id = "85dc65d267fa381102702411577d1b05"
name = "Reverse Auction"
application_url = "https://reverse-auction-production.up.railway.app"
embedded = true

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products,read_products"

[auth]
redirect_urls = [
  "https://reverse-auction-production.up.railway.app/auth/callback",
  "https://reverse-auction-production.up.railway.app/auth/shopify/callback",
  "https://reverse-auction-production.up.railway.app/api/auth/callback"
]

[webhooks]
api_version = "2025-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"
